<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:fragment="layout-header">
		<h1 class="header02-logo" >AI Community</h1>
		<div th:if="${session.usersId != null}">
		<form method="get" style="padding-right: 50px;" th:action="@{/top2}">
			<input type="submit" value="ログアウト" class="LogoutBottun">
		</form>
	
		</div>
		<div th:if="${session.usersId == null}">
		<form method="get" style="padding-right: 50px;" th:action="@{/regist/input}">
			<input type="submit" value="新規会員登録" class="LogoutBottun">
		</form>
		<form method="get" style="padding-right: 50px;" th:action="@{/login/login}">
			<input type="submit" value="ログイン" class="LogoutBottun">
		</form>
		</div>
	</header>
</body>
</html>