<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:fragment="layout-header">
		<h1 class="header02-logo" >AI Community</h1>
		
		<div th:if="${session.usersId != null}">
		<form method="get" th:action="@{/top/top}">
			<input type="submit" value="ログアウト" class="LogoutBottun">
		</form>
	
		</div>
		<div th:if="${session.usersId == null}" class="headerkey">
<!--			メンター登録の画面を分ける際に使用-->
<!--		<form method="get" th:action="@{/mentor/regist/input}" class="LogoutBottun">-->
<!--			<input type="hidden" name="authority" value="3">-->
<!--			<input type="submit" value="新規メンター登録"class="LogoutBottun">--><!--		</form>-->
		<form method="get" th:action="@{/user/regist/input}" class="LogoutBottun">
<!--			<input type="hidden" name="authority" value="2">-->
			<input type="submit" value="新規登録"class="LogoutBottun">
		</form>
		<form method="get" th:action="@{/login}" class="LogoutBottun">
			<input type="submit" value="ログイン" class="LogoutBottun">
		</form>
		</div>
	</header>
</body>
</html>