<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav class="DoHanbarger" th:fragment="layout-nav">
<!--		<div class="doHanbarger">-->
		<ul class="NavMenu">
			<span th:if="${session.usersId != null}">
			<li><a th:href="@{/top/dotop/back}">Top</a></li>
			</span>
			
			<span th:if="${session.usersId == null}">
			<li><a th:href="@{/top}">Top</a></li>
			</span>
			
			<li><p>Q&A</p></li>
	<!--		<li><a th:href="@{/help/question/answer/view}">Q&A</a></li>-->
	<!--ログインをしている場合、Quiz Chatを表示-->
			<div th:if="${session.usersId != null}">
			<li><a th:href="@{/quiz/list}">Quiz</a></li>
			
			
			<li><a th:href="@{/chat/select}">Chat</a></li>
			
			</div>
			
			<li><a th:href="@{/help/guide/user}">How to use</a></li>
			
			<li><p>language</p></li>

		</ul>
		
		<div>
		<span>UserName:<span th:text="${session.name}">ユーザー名</span></span>
		
		<a th:href="@{/top/sidebar}" class="hanbargermenu">＝</a>
		</div>
<!--		</div>-->
	</nav>

</body>
</html>