<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav class="nav doHanbarger" th:fragment="layout-nav">
<!--		<div class="doHanbarger">-->
		<ul class="menu">
		<li><a th:href="@{/top/dotop}">Top</a></li>
		<li><a th:href="@{/help/question/answer/view}">Q&A</a></li>
		<li><a th:href="@{/quiz/list}">Quiz</a></li>
		<li><a th:href="@{/chat/view}">Chat</a></li>

		 </ul>
		 
		<a th:href="@{/top/sidebar}" class="hanbargermenu">＝</a>
<!--		</div>-->
	</nav>

</body>
</html>