<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>会員情報変更確認</title>
</head>
<body>
	<h2>こちらで変更しますか？</h2>
	
	<p>変更後パスワード</p>
	<!--ここに変更後のメルアド、パスワードを貼る-->
	<!--htmlだけでできる？-->
	<p th:action="${user.password}">
		
		
	<form method="post" th:action="@{user/update/complete}" >
		<input type="text" name="input">
		<input type="submit" name="update" value="変更">
	</form method="post">
	
	<form method="post" th:action="@{user/update/input}" >
		<input type="submit" name="back" value="戻る">
	</form>

</body>
</html>