<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>会員情報変更確認</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" /> 
	<link rel="stylesheet" th:href="@{/css/update.css}"/>  
</head>
<body>
	<div class="update">
		<h2>こちらで変更しますか？</h2>
		
		<p>変更後
			<span th:if="${session.select} == 'mail'">メールアドレス</span>
			<span th:if="${session.select} == 'pass'">パスワード</span>
		</p>
			
		<p th:text="${save}" class="update_input"></p>	
		<form method="post" th:action="@{/user/update/complete/1/}+${session.select}">
			<input type="hidden" name="input" th:value="${save}">
			<input type="submit" name="update" class="check_submit" value="変更">		
		</form>
		
		<form method="post" th:action="@{/user/update/input/}+${session.select}" >
			<input type="submit" name="back" value="戻る">
		</form>
	</div>

</body>
</html>