<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout :: layout(~{::body/content()})}">
<!--	↑ログイン後のレイアウト機能のため使えない。別のものを用意する-->
<head>
<meta charset="UTF-8">
<title>AIcommunity ログイン</title>

</head>
<body>
	<!--【ログイン☆☆】-->
	<!--12/12 作成 鈴木-->

<section>

<div class="login">
<!--	ここcssつける-->
	<h1 class="loginh1">Login</h1>
	<div class="loginformback">
	<form method="post" th:action="@{/top/dotop}" class="loginform">
		<label>メールアドレス<br><input type="email" name="mail" placeholder="Mail-Address" class="loginformsize" required></label><br>
		<label>パスワード<br>
		<input type="password" name="password" placeholder="Password" class="loginformsize" required></label><br>
		
		<input type="checkbox" id="checkbox1">
		<label>パスワードを表示</label>
		<input type="submit" value="ログイン" class="loginbottun"><br>
		<a th:href="@{/login/mailCheck}" class="loginlink">パスワードを忘れた場合</a>
	</form>
	
	
	</div>
</div>	
	
	
</section>


</body>
</html>