<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>AIcommunity ログイン</title>
<link rel="stylesheet" href="../../static/css/style.css" /> 
</head>
<body>
<!--12/12 作成 鈴木-->
<section class="login">
<h1 style="text-align: center; font-size: 60px;">Login</h1>


	<form>
		<label>メールアドレス<br><input type="email" name="mailAddress" class="loginform" style="margin-bottom: 30px;"></label><br>
		<label>パスワード<br><input type="password" name="password" class="loginform"></label><br>
		<input type="submit" value="ログイン" style="margin-top: 30px;">
	</form>
</section>


</body>
</html>