<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>AIcommunity ログイン</title>
<link rel="stylesheet" href="../../static/css/style.css" /> 
</head>
<body>
	<!--12/12 作成 鈴木-->
	<header>
		<h1 class="header02-logo" >AI Community
		</h1>
			<!--ナビ①-->
		<nav class="nav">
		 <ul class="menu">
		<li><a href="#">Top</a></li>
		<li><a href="#">Q&A</a></li>
		<li><a href="#">クイズ</a></li>
		<li><a href="#">チャット</a></li>
		 </ul>
		</nav>
		</header>
<section>

<div class="login">
	<h1 style="text-align: center; font-size: 60px; color: floralwhite;">Login</h1>
	<form>
		<label>メールアドレス<br><input type="email" name="mailAddress" class="loginform" style="margin-bottom: 30px;" placeholder="Mail-Address"></label><br>
		<label>パスワード<br><input type="password" name="password" class="loginform" placeholder="Password"></label><br>
		<input type="submit" value="ログイン" style="margin-top: 30px;">
	</form>
<div>	
	
	
</section>


			<!--フッター -->
	<footer>
	    <p>&copy; AI Community</p>
	    <p><a href="mailto:info@yourwebsite.com" style="color: #fff;">お問い合わせ</a></p>
	</footer>


</body>
</html>