<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout :: layout(~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>パスワードを忘れた場合</title>
</head>
<body>
	<h1>パスワード再設定</h1>
	<form method="post" th:action="@{/login/passwordCommit}" class="passforgetinputform">
		変更後パスワード(15文字以内)<input type="password" name="password" placeholder="パスワードを入力" maxlength="15" class="mailforgetsize" required/><br>
<!--		変更後パスワード(15文字以内):<input type="password" name="password" placeholder="パスワードを入力" maxlength="15" th:value="${users.password}" />-->
		<div>
		<input type="checkbox" id="checkbox1" >
		<label>パスワードを表示</label>
		</div>
<!--		変更後パスワード(確認):<input type="password" name="check" placeholder="パスワードを入力" maxlength="15" required /><br>-->
<!--		<div>-->
<!--		<input type="checkbox" id="checkbox2">-->
<!--		<label>パスワードを表示</label>-->
<!--		</div>-->
<!--		<input type="hidden" name = "mail" th:value="${mail}"/>-->
		<input type="hidden" name = "user" th:value="${user}"/>
		<input type="submit" th:value="変更"  class="btn btn--orange btn--cubic btn--shadow" required/>
	</form>


</body>
</html>