<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>パスワードを忘れた場合</title>
</head>
<body>
	<form method="post" th:action="@{/top/dotop}" class="loginform">
		<label>パスワード<br>
		<input type="password" name="input" placeholder="Password" class="loginformsize" required></label><br>
		
		<input type="checkbox" id="checkbox1">
		<label>パスワードを表示</label>
		<input type="submit" value="ログイン" class="loginbottun"><br>
		<a th:href="@{/top/dotop}" class="loginlink">パスワードを忘れた場合</a>
	</form>


</body>
</html>