<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body class="test">
	<header>
	<h1 class="header02-logo" >AI Community
	</h1>

	</header>
			<!--ナビ①-->
	<nav class="nav">
	 <ul class="menu">
	<li><a href="#">Top</a></li>
	<li><a href="#">Q&A</a></li>
	<li><a href="#">クイズ</a></li>
	<li><a href="#">チャット</a></li>
	 </ul>
	</nav>
	
	<div class="registcheck">
	<h2>こちらで登録しますか？</h2>
	
	<address>
	<p>メールアドレス</p><br>
<!--	実行時に解除<p th:text="${users.mail}"></p>-->
	
	</address>
	
	<p>パスワード</p><br>
<!--	実行時に解除<p th:text="${users.password}"></p>-->
	
	<p>ユーザー名</p><br>
<!--	実行時に解除<p th:text="${users.name}"></p>-->
	
	<div class="displayflex">
	<form th:formaction="@{/complete}">
		<input type="submit" th:value="登録" class="registbottun">
	</form>
	
	<form th:formaction="@{/input}">
		<input type="submit" th:value="戻る" class="registbottun">
	</form>	
	</div>
	</div>
	
	
	<!--　フッター -->
		<footer>
			<p>&copy; 2024 OmuLaisu</p>
			<p><a href="mailto:info@yourwebsite.com">お問い合わせ</a></p>
		</footer>
	
	
	
	

</body>
</html>