<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout::layout(~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>AIcommunity 会員登録</title>
</head>

<body class="test">
	
	<img th:src="@{/image/useLegist.jpg}" alt="登録画面背景" style="width:100%; height:100%; position: relative; z-index: 1;">
	
	<div class="registcheck">
	<h2>こちらで登録しますか？</h2>
	
	<address>
	<p>メールアドレス</p><br>
<!--	実行時に解除<p th:text="${users.mail}"></p>-->
	
	</address>
	
	<p>パスワード</p><br>
<!--	実行時に解除<p th:text="${users.password}"></p>-->
	
	<p>ユーザー名</p><br>
<!--	実行時に解除<p th:text="${users.name}"></p>-->
	
	<div class="displayflex">
	<form th:formaction="@{/complete}">
		<input type="submit" th:value="登録" class="registbottun">
	</form>
	
	<form th:formaction="@{/input}">
		<input type="submit" th:value="戻る" class="registbottun">
	</form>	
	</div>
	</div>
	
</body>
</html>