<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout::layout(~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>AIcommunity 会員登録</title>

</head>
<body>
	
<!--	背景画像-->
		<img th:src="@{/image/useLegist.jpg}" alt="登録画面背景" class="RegistBackImage" style="width:100%; height:100%; position: relative; z-index: 1; vertical-align: top;">


		<div class="registform">
		<h2 class="registh2">新規会員登録</h2>
		<div  class="registback">
		<!--バックグラウンド-->

<!--		<body background="C:\Users\81908\Downloads\名称未設定のデザイン.png">-->
		<!--画像の中の文-->
		<!--	formタグにする？-->

		<form method="post" th:action="@{/user/regist/check}" >
			
<!--		ユーザーかメンターのどちらを登録するかを選択-->
			<div>
				<p>どちらで登録しますか？</p>
			<label><input type="radio" name="authority" value="ユーザー" class="yomikaki"/>ユーザー</label>
			<label><input type="radio" name="authority" value="メンター" class="yomikaki"/>メンター</label><br>
			</div> 
			
			
<!--		ユーザー名-->			
			<label for="floatingInput">ユーザー名</label><br>
			<input type="text" name="name" class="form-control" id="floatingInput" placeholder="Username"><br>

<!--		メールアドレス-->
			<label for="floatingInput">メールアドレス</label><br>
			<input type="email" name="mail" class="form-control" id="floatingInput" placeholder="Mail-address"><br>

<!--		パスワード-->
			<label for="floatingPassword">パスワード</label><br>
			<input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password"><br>

			<input type="submit" value = "登録"  class="registbottun">

		</form>
		
<!--		<form  th:formaction="@{/top2}">-->
<!--		<input type="submit" class="registbottun" value = "戻る">	-->
<!--		</form>-->

		</div>
		</div>
</body>

</html>