<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/main.css">
	<title>AICommunity</title>
</head>

<body>
	<!--バックグラウンド-->

	<body background="C:\Users\81908\Downloads\名称未設定のデザイン.png">

		<!--ヘッダー -->
		<header>
			<h1 class="header02-logo" style="text-align:center">AI Community
				<img src="C:\Users\81908\Downloads\ヘッダーフッター使用画像 (1).jpeg" alt="" width="10000" height="100px">
				</a>
			</h1>
<!--ナビ①-->
			<ul class="nav">
				<li><a href="#">Top</a></li>
				<li><a href="#">Q&A</a></li>
				<li><a href="#">Language</a></li>
				<li><a href="#">チャット</a></li>
			</ul>
<!--ナビ②-->
			<nav class="nav">
				<a class="nav-link active" aria-current="page" href="#">Top</a>
				<a class="nav-link" href="#">Q&A</a>
				<a class="nav-link" href="#">Language</a>
				<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">チャット</a>
			</nav>
		</header>



		<!--画像の中の文-->
		<div class="form-floating mb-3">
			<label for="floatingInput">メールアドレス</label>
			<input type="email" class="form-control" id="floatingInput" placeholder="メールアドレス">

		</div>
		<div class="form-floating">
			<label for="floatingPassword">パスワード</label>
			<input type="password" class="form-control" id="floatingPassword" placeholder="パスワード">

		</div>
		<div class="col-auto">
			<button type="submit" class="btn btn-primary mb-3">登録</button>
		</div>




		<!--　フッター -->
		<footer style="background-color: #333; color: white; padding: 20px; text-align: center;">
			<p>&copy; AI Community</p>
			<p><a href="mailto:info@yourwebsite.com" style="color: #fff;">お問い合わせ</a></p>

	</body>

</html>