<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout::layout(~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!--<link rel="stylesheet" th:href="@{/css/style.css}" /> -->
<!--会話日程予約機能-->
</head>
<body>
<!--	<header>-->
<!--	<h1 class="header02-logo" >AI Community-->
<!--	</h1>-->
<!--		ナビ①-->
<!--	<nav class="nav">-->
<!--	 <ul class="menu">-->
<!--	<li><a href="#">Top</a></li>-->
<!--	<li><a href="#">Q&A</a></li>-->
<!--	<li><a href="#">クイズ</a></li>-->
<!--	<li><a href="#">チャット</a></li>-->
<!--	 </ul>-->
<!--	</nav>-->
<!--	</header>-->

	<section>
	<p>この日程で予約しますか？</p>
	
	<!--ここに入力した日程を表示-->
	<form method="post" th:action="@{/complete}">
		<span th:text="${day}"></span><br>
		<span th:text="${timesId.startTimes}"></span>
	    -<span th:text="${timesId.endTimes}"></span><br>

		<input type="submit" name="yes" value="予約する">
		<input type="hidden" name="timesId" th:value="${timesId.timesId}">
		<input type="hidden" name="day" th:value="${day}">
		<input type="hidden" name="weekday" th:value="${weekDay}">
<!--		<input type="hidden" name="usersId" th:value="${session.usersId}">-->
		<input type="hidden" name="usersId" value="1">

	</form>
	<form method="post" th:action="@{/allViews}">
		<input type="submit" name="no" value="戻る">
	</form>
	
	</section>
	
	<!--フッター -->
<!--	<footer>-->
<!--	    <p>&copy; AI Community</p>-->
<!--	    <p><a href="mailto:info@yourwebsite.com" style="color: #fff;">お問い合わせ</a></p>-->
<!--	</footer>-->
	

</body>
</html>