<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout :: layout(~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!--<link rel="stylesheet" th:href="@{/css/style.css}" /> -->
<!--会話日程予約機能-->
</head>
<body>
	
	<section class="complete">
	<p>予約が完了しました。</p>
	
	<p target="_blank" style="font-size: 20px;" >予約日時:</p>
	<p target="_blank" style="font-size: 20px;" ><span th:text="${day}"></span>(<span th:text="${weekday}"></span>)</p>

	<!--ここにリンクを貼る(今仮で牧瀬Tのリンク貼ってます)-->
	<p target="_blank" style="font-size: 20px;" >発行リンク:</p>
	<p target="_blank" style="font-size: 20px;" th:text="${zoom.url}"></p>
	
	<form method="post" th:action="@{top/dotop}" style="margin-top: 50px;">
		<input type="button" name="top" value="トップ画面に戻る">
	</form>
	</section>

	

</body>
</html>