<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout :: layout(~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!--<link rel="stylesheet" th:href="@{/css/style.css}" /> -->
<!--会話日程予約機能-->
</head>
<body>
	
	<section class="complete">
	<p>予約が完了しました。</p>
	
	<p target="_blank" >予約日時:</p>
	<p target="_blank" ><span th:text="${day}"></span>(<span th:text="${weekday}"></span>)</p>

	<!--ここにリンクを貼る-->
	<p target="_blank">発行リンク:</p>
	<p target="_blank" th:text="${zoom.url}"></p>
	
	<form method="get" th:action="@{/top/dotop/back}" style="margin-top: 50px;">
		<input type="submit" name="top" value="トップ画面に戻る" class="TimeReserveBottun">
	</form>
	</section>

	

</body>
</html>