<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout::layout(~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<form method="get" th:action="@{/timesCheck}" class="TimeReserve">
		<p>予約時間を選択してください。</p>
		<div th:each="time:${times}">
        	<input type="radio" name="timesId" th:value="${time.timesId}" class="RadioReserve"><span th:text="${time.startTimes}+'-'+${time.endTimes}"></span>
		</div>
        

		<div class="TimeCheckBottun">
	    <input type="hidden" name="day" th:value="${day}">
	    <input type="hidden" name="weekday" th:value="${weekDay}">
	    <input type="submit" name="next" th:value="次へ" class="TimeReserveBottun">
		</div>

	</form>

</body>
</html>