<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>解答</h2>
	<!--ここに解答を入力-->
	<span th:text="${question.explanation}"></span><br>
	
	<form method="post" th:action="@{/quiz/question}">
		<input type="submit" name="next" value="次の問題へ">
		<input type="hidden" name="queId" th:value="${question.queId}">
		<input type="hidden" name="categoryName" value="${question.categoriesEntity.categoryName}" />
		<input type="hidden" name="usersId" value=1>
	</form>

	<form method="get" th:action="@{/quiz/list}">
		<input type="submit" value="選択画面へ戻る">
	</form>

</body>
</html>