<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../../static/css/style.css" />
<!--会話日程予約機能-->
</head>
<body>
	<header>
	<h1 class="header02-logo" >AI Community
	</h1>
		<!--ナビ①-->
	<nav class="nav">
	 <ul class="menu">
	<li><a href="#">Top</a></li>
	<li><a href="#">Q&A</a></li>
	<li><a href="#">クイズ</a></li>
	<li><a href="#">チャット</a></li>
	 </ul>
	</nav>
	</header>

	<br>
	
	<h2>解答</h2>
	<!--ここに解答を入力-->
	<span th:text="${question.explanation}"></span><br>
	
	<form method="post" th:action="@{/quiz/question}">
		<input type="submit" name="next" value="次の問題へ">
		<input type="hidden" name="queId" th:value="${question.queId}">
		<input type="hidden" name="categoryName" value="${question.categoriesEntity.categoryName}" />
		<input type="hidden" name="usersId" value=1>
	</form>

	<form method="get" th:action="@{/quiz/list}">
		<input type="submit" value="選択画面へ戻る">
	</form>

<!--フッター -->
	<footer>
	    <p>&copy; AI Community</p>
	    <p><a href="mailto:info@yourwebsite.com" style="color: #fff;">お問い合わせ</a></p>
	</footer>
</body>
</html>