<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout::layout(~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}"/> 
<!--会話日程予約機能-->
</head>
<body>


	<div class="base">	
		<span class="collect"></span>
		<div class="answer">
		<p>解答:<span th:text="${answer}"></span></p>

		<span th:if="${session.review}==0">
			<form method="get" th:action="@{/quiz/list}" class="quizquit">
			<input type="submit" value="×" class="quitbottun">
			</form>
		</span>
		<span th:if="${session.review}==1">
			<form method="get" th:action="@{/user/info/}+${session.usersId}" class="quizquit">
			<input type="submit" value="×" class="quitbottun">
			</form>
		</span>
		
		
		</div>
		
		
		<!--ここに解答を入力-->
		<span th:if="${session.review}==0">
			<form method="post" th:action="@{/quiz/question}">
				<div class="quizanswer">
				<span>意味:</span><span th:text="${question.mean}"></span><br>
				<span th:text="${question.explanation}"></span><br>
				<span th:if="${session.review}==0">
				</span>
				</div>

				<div class="quiznext">
				<input type="submit" name="next" value="次へ→" class="quiznext">
				<input type="hidden" name="queId" th:value="${question.queId}">
				<input type="hidden" name="categoryName" th:value="${question.categoriesEntity.categoryName}" />
				<input type="hidden" name="usersId" th:value=${session.usersId}>
				</div>
			</form>
		</span>
		
		<span th:if="${session.review}==1">
			<form method="post" th:action="@{/quiz/review}">
				<div class="quizanswer">
				<span>意味:</span><span th:text="${question.mean}"></span><br>
				<span th:text="${question.explanation}"></span><br>
				<span th:if="${session.review}==0">
				</span>
				</div>

				<div class="quiznext">
				<input type="submit" name="next" value="次へ→" class="quiznext">
				<input type="hidden" name="queId" th:value="${question.queId}">
				<input type="hidden" name="categoryName" th:value="${question.categoriesEntity.categoryName}" />
				<input type="hidden" name="usersId" th:value=${session.usersId}>
				</div>
			</form>
		</span>
			
		
	</div>

</body>
</html>