<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="style.css" />
</head>
<body>
	<h2>クイズ画面</h2>
	<p></p>
	
	<form method="post" th:action="@{quiz/question}">

		<input type="button" name="easy" value="初級">
		<input type="button" name="normal" value="中級">
		<input type="button" name="hard" value="上級">
		<input type="button" name="greeting" value="挨拶編">
		<input type="button" name="mail" value="メール編">
		<input type="button" name="public" value="公の場編">
	</form>

	

</body>
</html>