<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!--<link rel="stylesheet" th:href="@{../../static/css/style.css}" /> -->
<link rel="stylesheet" th:href="@{/css/style.css}">
<!--会話日程予約機能-->
</head>
<body>
	<header>
	<h1 class="header02-logo" >AI Community
	</h1>
		<!--ナビ①-->
	<nav class="nav">
	 <ul class="menu">
	<li><a href="#">Top</a></li>
	<li><a href="#">Q&A</a></li>
	<li><a href="#">クイズ</a></li>
	<li><a href="#">チャット</a></li>
	 </ul>
	</nav>
	</header>


	
	<form th:action="@{/quiz/question}" method="post" class="main">
		
		
		<div class="quiz">
		<h2 style="text-align: center; font-size: 40px;">漢字クイズ</h2>
		<form class="choice1">
		<label><input type="radio" name="categoryType" value="読み"/>読み</label>
		<label><input type="radio" name="categoryType" value="書き"/>書き</label>
		</form>
		
		<form>
		<input type="submit" name="categoryName" value="初級" class="kanzi">
		<input type="submit" name="categoryName" value="中級" class="kanzi">
		<input type="submit" name="categoryName" value="上級" class="kanzi">
		</form>
		
		<div class="quiz">
		<h2 style="text-align: center; font-size: 40px;">ビジネスマナークイズ</h2>
		<input type="submit" name="categoryName" value="挨拶編" class="business">
		<input type="submit" name="categoryName" value="メール編" class="business">
		<input type="submit" name="categoryName" value="公の場編" class="business">
		</div>
		<!--valueはログインしたusersIdに変更する-->
		<input type="hidden" name="usersId" value=1>
		<!--クイズの1問目から表示する-->
		<input type="hidden" name="queId" value="0">
		</span>
	</form>
	
	</section>
	
			<!--フッター -->
	<footer>
	    <p>&copy; AI Community</p>
	    <p><a href="mailto:info@yourwebsite.com" style="color: #fff;">お問い合わせ</a></p>
	</footer>

	

</body>
</html>