<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout::layout(~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!--会話日程予約機能-->
</head>
<body>

	<div class = "quizlistform">
	<form th:action="@{/quiz/question}" method="post" class="main">
		
<!--		設計書だと三問まで-->
		<p th:if="${session.usersId}==null">
			<span>ログイン前のため、問題数は最大10問です。</span>
		</p>
		
		<div class="quiz">
<h2 class="quizjunre">漢字クイズ</h2>
		<form th:action="@{/quiz/question}" method="post" class="main">
		<div class="yomikaki">
		<label><input type="radio" name="categoryType" value="読み" class="yomikaki"/>読み</label>
		<label><input type="radio" name="categoryType" value="書き" class="yomikaki"/>書き</label><br>
		</div>
		
		<input type="submit" name="categoryName" value="初級" class="kanzi">
		<input type="submit" name="categoryName" value="中級" class="kanzi">
		<input type="submit" name="categoryName" value="上級" class="kanzi">
		
		<div class="quiz">
		<h2 class="quizjunre">ビジネスマナークイズ</h2>
		<input type="submit" name="categoryName" value="挨拶編" class="business">
		<input type="submit" name="categoryName" value="メール編" class="business">
		<input type="submit" name="categoryName" value="公の場編" class="business">



		</div>
<!--valueはログインしたusersIdに変更する-->
		<span th:if="${session.usersId}!=null">
			<input type="hidden" name="usersId" th:value=${session.usersId}>
		</span>
		<!--テスト用-->
		<span th:if="${session.usersId}==null">
			<input type="hidden" name="usersId" value=1>
		</span>
		<!--クイズの1問目から表示する-->
		
		<input type="hidden" name="queId" value="0">
		</span>
	</form>
		
	</div>		
<!--	</section>-->
	
			<!--フッター -->
<!--	<footer>-->
<!--	    <p>&copy; AI Community</p>-->
<!--	    <p><a href="mailto:info@yourwebsite.com" style="color: #fff;">お問い合わせ</a></p>-->
<!--	</footer>-->

	

</body>
</html>