<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}"/> 
<!--クイズ出題画面-->
</head>
<body>

<header>
	<h1 class="header02-logo" >AI Community
	</h1>
		<!--ナビ①-->
	<nav class="nav">
	 <ul class="menu">
	<li><a href="#">Top</a></li>
	<li><a href="#">Q&A</a></li>
	<li><a href="#">クイズ</a></li>
	<li><a href="#">チャット</a></li>
	 </ul>
	</nav>
	</header>

	<br>
	
	<h2>問題</h2>
	<!--ここに問題文-->	
	<main class="quiz">
		<span th:if="${session.usersId}!=null">
			<span class="seitouritu">	
				<span th:text="${total}"></span>問中
				<span th:text="${collect}"></span>問正解 正答率
				<span th:text="${collectAnswerRate}"></span>%
			</span>
		</span>
	
	<h2>問題文</h2>
	<span th:text="${question.question}"></span><br>
	<form th:action="@{/quiz/explain}" method="post" class="mondai">
		<button type="submit" name = "answer" th:text="${question.choise1}" value=1 class="quizbtn one"/>
		<button type="submit" name = "answer" th:text="${question.choise2}" value=2 class="quizbtn two"/>
		<button type="submit" name = "answer" th:text="${question.choise3}" value=3 class="quizbtn three"/>
		<button type="submit" name = "answer" th:text="${question.choise4}" value=4 class="quizbtn four"/>
		
		<input type="hidden" name="queId" th:value="${question.queId}">
		<span th:if="${session.usersId}!=null">
			<input type="hidden" name="usersId" th:value=${session.usersId}>
		</span>
<!--		後で削除する-->
		<span th:if="${session.usersId}==null">
			<input type="hidden" name="usersId" 1value=1>
		</span>
	</form>	
	</main>
	
<!--フッター -->
	<footer>
	    <p>&copy; AI Community</p>
	    <p><a href="mailto:info@yourwebsite.com" style="color: #fff;">お問い合わせ</a></p>
	</footer>
		
<!--	<form method="post" th:action="@{quiz/explain}">-->
<!--		<input type="button" name="one" value="選択肢1">-->
<!--		<input type="button" name="two" value="選択肢2">-->
<!--		<input type="button" name="three" value="選択肢3">-->
<!--		<input type="button" name="four" value="選択肢4">-->
<!--	</form>--></body>
</html>