<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<main>
	<span th:text="${total}"></span>問中
	<span th:text="${collect}"></span>問正解 正答率
	<span th:text="${collectAnswerRate}"></span>%
	
	<h2>問題</h2>
	<span th:text="${question.question}"></span><br>
	<form th:action="@{/quiz/explain}" method="post">
		<button type="submit" name = "answer" th:text="${question.choise1}" value=1 />
		<button type="submit" name = "answer" th:text="${question.choise2}" value=2 />
		<button type="submit" name = "answer" th:text="${question.choise3}" value=3 />
		<button type="submit" name = "answer" th:text="${question.choise4}" value=4 />
		
		<input type="hidden" name="queId" th:value="${question.queId}">
		<input type="hidden" name="usersId" th:value=1>
	</form>	
	</main>
	
</body>
</html>