<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン前トップ</title>
<link rel="stylesheet" th:href="@{/css/style.css}" /> 
<!--会話日程予約機能-->
</head>
<body class="sidebar">
	
	
<!--	th:ifつけてログイン前とログイン後で遷移先を変える-->
	<div>
	<a th:href="@{/top/dotop}">→</a>
	</div>
	<div>
	<a th:href="@{/top2}">→</a>
	</div>
	<section>
	<!--	サイドバー-->
	<h2 style="font-size: 50px;">Menu</h2>
	
<!--	displayブロックをつけても余白をつけることができない-->
	<div class="sidebarmenu">
<!--	<a th:href="../calendar/view.html">メンター予約</a>-->
	<a th:href="@{/allViews}">メンター予約</a><br>
	
<!--	<a th:href="../quiz/list.html">クイズ</a>-->
	<a th:href="@{/quiz/list}">クイズ</a><br>
	
<!--	<a th:href="@{/user/info}">マイページあとで変える</a>-->
	<a th:href="@{/user/info}+'/'+${session.usersId}">マイページ</a><br>

	</div>

	
	</section>
	

</body>
</html>