<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/BeforeLoginLayout::layout(~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">

	<title>AICommunity</title>
</head>

<main>


<!-- 各項目説明(トップ) -->
    <div class="section">

	<div class="title">
		<h1 class="toptitle">拡がる、</h1><br>
		
		<h1 class="toptitle2">AI校の輪</h1>
	</div>  




<!-- クイズ -->
<!--        <div class="slider">-->
          <div class="container slidercontent">
            <h1 class="hero">Quiz</h1>
<!--            <h2 class="hero">漢字クイズ＆ビジネスマナークイズ</h2>-->
             <div class="call"><span>初級から上級まで様々な難易度でお試しできます</span></div>
             </div>
          </div>
<!--        </div>-->


      <div class="QuizSection">
        <div class="container">


          <div class="col jlptn3">
            <h1 class="icon">○</h1>
            <p class="service">漢字クイズ<br>（初級）</p>
            <p>N3レベルの難しさ</p>
          </div>


          <div class="col jlptn2">
            <h1 class="icon">○</h1>
            <h1 class="service">漢字クイズ（中級）</h1>
            <p>N2レベルの難しさ</p>
          </div>
        


          <div class="col jlptn1">
            <h1 class="icon">○</h1>
            <h1 class="service">漢字クイズ（上級）</h1>
            <p>N1レベルの難しさ</p>
          </div>


        </div>
        
        	<div class="col businesstop">
            	<h1 class="icon">○</h1>
            	<h1 class="service">ビジネスマナークイズ</h1>
            	<p>授業で学ぶビジネスマナーの振り返りができます</p>
          	</div>
      </div>

<!--会話機能説明-->
		<div class="slider">
        <div class="container slidercontent">
          <h1 class="hero">Communication</h1>
          <h2 class="hero">メンターと会話ができます。<br>
          会話を通して日本語を学びます。</h2>
            <div><span>※ログインをしてからご利用可能です</span></div>
        </div>



<!-- チャット -->
      <div class="slider">
        <div class="container slidercontent">
          <h1 class="hero">Chat</h1>
          <h2 class="hero">Web上でメッセージ</br>
            Web上でメンターとのメッセージができます。</h2>
            <div><span>※ログインをしてからご利用可能です</span></div>
        </div>

</body>


    
</html>
</body>
</html>