<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/BeforeLoginLayout::layout(~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">

	<title>AICommunity</title>
</head>

<main>


<!-- 各項目説明(トップ) -->
    <div class="section">

	<div class="TopTitleBack">

			<p class="TopTitle">拡がる、</p><br>
			
			<p class="TopTitle2">AI校の輪</p>
		
	</div>  




<!-- クイズ -->
<!--        <div class="slider">-->
	<div class="QuizSection">
       	<div class="container slidercontent">
            <h1 class="HeadingQuiz">Quiz</h1>
<!--             <div class="call">-->
<!--				 <span>初級から上級まで様々な難易度でお試しできます</span>-->
<!--             </div>-->
        </div>

<!--        </div>-->



        <div class="container">


          <div class="col jlptn3">
            <h1 class="icon">○</h1>
            <p class="service">漢字クイズ<br>（初級）</p>
            <p>N3レベルの難しさ</p>
          </div>


          <div class="col jlptn2">
            <h1 class="icon">○</h1>
            <h1 class="service">漢字クイズ<br>（中級）</h1>
            <p>N2レベルの難しさ</p>
          </div>
        


          <div class="col jlptn1">
            <h1 class="icon">○</h1>
            <h1 class="service">漢字クイズ<br>（上級）</h1>
            <p>N1レベルの難しさ</p>
          </div>


<!--				<p style="display: block;">+</p>-->
        
        	<div class="col businesstop">
            	<h1 class="icon">○</h1>
            	<h1 class="service">ビジネスマナークイズ</h1>
            	<p>授業で学ぶビジネスマナーの振り返りができます</p>
          	</div>
          	
          	<div>
				  <div class="QuizDescription">
				  <p>JLPTの試験をモデルにしたクイズと
					  <br>学校で学ぶビジネスマナーのクイズを
					  <br>出題します。</p>
				  </div>
          	</div>
        </div>
      </div>
	 </div>
	 
<!--会話機能説明-->
		
		<div class="ComSection">
	        <div class="container slidercontent">
	          <p class="HeadingCom">Communication</p>

	          <div class="ComDescription">
		          <p>メンターと会話ができます。
				  <br>会話を通して日本語を学びます。
		          <br>※ログインをしてからご利用可能です</p>
	          </div>
	        </div>

		</div>



<!-- チャット -->
      <div class="ChatSection">
		  

		  
        <div class="container slidercontent">
          <p class="HeadingChat">Chat</p>        
        </div>
        <div class="ChatBasecolar">
		 </div>
          <div class="ChatDescription">
	          <p>Web上でメッセージ
	            <br>Web上でメンターとのメッセージができます。
	            <br>※ログインをしてからご利用可能です
	          </p>
          </div>
      </div>
      

</body>


    
</html>
</body>
</html>