<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="企画.css">

    <!-- <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css"> -->

	<title>AICommunity</title>
</head>



<body>
   
    <!--ヘッダー -->
	<header>
	<h1 class="header02-logo" style="text-align:center">
    AI Community
	</h1>

		<!--ナビ①-->
        <nav class="nav">
		 <ul class="menu">
		<li><a href="#">予約</a></li>				
    <li><a href="#">Q&A</a></li>
		<li><a href="#">クイズ</a></li>
		<li><a href="#">チャット</a></li>
		</ul>
    </nav>	
</header>

    


<main>
<!-- 画像 -->
    <img src ="top,画像.png">




<!-- 各項目説明(トップ) -->
    <div class="section">

      




<!-- クイズ -->
        <div class="slider">
          <div class="container slidercontent">
            <h1 class="hero">クイズ</h1>
            <h2 class="hero">漢字クイズ＆ビジネスマナークイズ</h2>
             <div class="call"><span>初級から上級まで様々な難易度でお試しできます</span></div>
             </div>
          </div>
        </div>


      <div class="section">
        <div class="container">


          <div class="col four">
            <h1 class="icon">[]</h1>
            <h1 class="service">漢字クイズ（初級）</h1>
            <p>N4～の難易度でお試しできます</p>
          </div>


          <div class="col four">
            <h1 class="icon">[]</h1>
            <h1 class="service">漢字クイズ（中級）</h1>
            <p>N3～の難易度でお試しできます</p>
          </div>
        


          <div class="col four">
            <h1 class="icon">[]</h1>
            <h1 class="service">漢字クイズ（上級）</h1>
            <p>N2～の難易度でお試しできます</p>
          </div>

          
          <div class="col four">
            <h1 class="icon">[]</h1>
            <h1 class="service">ビジネスマナークイズ</h1>
            <p>日常的な会話やコミュニケーションをお試しできます</p>
          </div>
          <div class="group"></div>
        </div>
      </div>




<!-- チャット -->
      <div class="slider">
        <div class="container slidercontent">
          <h1 class="hero">チャット</h1>
          <h2 class="hero">Web上でメッセージ</br>
            Web上でメッセージができます。またからZoomの通話が可能です</h2>
            <div class=><span>※ログインをしてからご利用可能です</span></div>


            <div class="section">
              <div class="container">
      
      
                <div class="col four">
                  <h1 class="icon">[]</h1>
                  <h1 class="service">漢字クイズ（初級）</h1>
                  <p>N4～の難易度でお試しできます</p>
                </div>
      
      
                <div class="col four">
                  <h1 class="icon">[]</h1>
                  <h1 class="service">漢字クイズ（中級）</h1>
                  <p>N3～の難易度でお試しできます</p>
                </div>
              
      
      
                <div class="col four">
                  <h1 class="icon">[]</h1>
                  <h1 class="service">漢字クイズ（上級）</h1>
                  <p>N2～の難易度でお試しできます</p>
                </div>
      
                
                <div class="col four">
                  <h1 class="icon">[]</h1>
                  <h1 class="service">ビジネスマナークイズ</h1>
                  <p>日常的な会話やコミュニケーションをお試しできます</p>
                </div>
                
                <div class="group"></div>
              </div>
            </div>
  


   

 <!--　フッター -->
 <footer>
  <p>&copy; AI Community</p>
  <p><a href="mailto:info@yourwebsite.com" style="color: #fff;">お問い合わせ</a></p>

</footer>
    

</body>


    
</html>
</body>
</html>