<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>マイページ</title>
<link rel="stylesheet" href="../../static/css/style.css" /> 
<!--会話日程予約機能-->
</head>
<body>
	<header>
	<h1 class="header02-logo" >AI Community
	</h1>
		<!--ナビ①-->
	<nav class="nav">
	 <ul class="menu">
	<li><a href="#">Top</a></li>
	<li><a href="#">Q&A</a></li>
	<li><a href="#">クイズ</a></li>
	<li><a href="#">チャット</a></li>
	 </ul>
	</nav>
	</header>
	
	<section>
		<p th:text=${session.mail}></p>
		<p th:text=${session.password}></p>
	</section>	
	
				<!--フッター -->
	<footer>
	    <p>&copy; AI Community</p>
	    <p><a href="mailto:info@yourwebsite.com" style="color: #fff;">お問い合わせ</a></p>
	</footer>

</body>
</html>