<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout::layout(~{::body/content()})}">
<head>
<meta charset="UTF-8">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
<title>マイページ</title>
<!--<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.css}" /> -->
<!--会員情報表示機能-->
<style>
.chart-wrapper {
 width: 95vh;
 margin: auto;
} 
</style>


</head>
<body>
<!--	<header>-->
<!--	<h1 class="header02-logo" >AI Community-->
<!--	</h1>-->

<!--	</header>-->
<!--			ナビ①-->
<!--	<nav class="nav">-->
<!--	 <ul class="menu">-->
<!--	<li><a href="#">Top</a></li>-->
<!--	<li><a href="#">Q&A</a></li>-->
<!--	<li><a href="#">クイズ</a></li>-->
<!--	<li><a href="#">チャット</a></li>-->
<!--	 </ul>-->
<!--	</nav>-->
	


	<section class="sectioninfo">
		<div>
<!--		springと接続<p th:text="${users.name}" style="font-size: 40px;"></p>-->
		<p style="font-size: 40px;" th:text="${user.name}">Username</p>
		<div>
		<p>メールアドレス：</p>
		<p th:text="${user.mail}">Mail-Address </p><a th:href="@{/update/input}">変更する</a><br>
<!--		<p>Mail-Address <br><p>メールアドレス仮置き     <a th:href="@{/update/input/mail}">変更する</a></p></p><br>-->
		</div>
		<div>
		<p>パスワード：</p>
		<p th:text="${user.password}">password </p><a th:href="@{/update/input}">変更する</a>
<!--		<p>password <br><p>パスワード仮置き     <a th:href="@{/update/input/pass}">変更する</a></p></p>-->
		</div>
		</div>

		
			<p style="font-size: 40px; margin-right: 300px;">漢字クイズ正答率</p>
			<!--			ここに円グラフ-->
			<div class="chart-wrapper" style="width:400px;height:400px;display: flex;margin-left: 400px;flex-direction: column;flex-wrap: wrap;justify-content: space-around;">
			  <canvas id="myChart" width="333" height="332" style="display: block; box-sizing: border-box; height: 398.4px; width: 399.6px;"></canvas>
			  <p class="s1">正答率：<span style="background-color: yellow;">nn.nn%</span></p>
<!--			  <p class="s1">正答率：<span style="background-color: yellow;" th:text=${collectAnswerRate}>%</span></p>-->
<!--			  ↑<p th:text=${}></p>-->
<!--困ったときはflexbox!!!-->
			  
			</div>
			
			<div>
			
			
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>
		<script>
		const ctx = document.getElementById('myChart')
	
	//この2つの値を設定するだけ!!
	const percentage = 50 //グラフのパーセンテージ(50%)
	//const percentage = collectAnswerRate //グラフのパーセンテージ(50%)
	const backgroundColor = 'rgb(255, 0, 0)' //グラフの色(赤)
	const backgroundColor2 = 'rgb(0, 0, 255)' //グラフの色(黒)
	
	new Chart(ctx, {
	  type: 'doughnut',
	  data: {
		  labels: ["仮","仮２"],
	    datasets: [{
	      data: [percentage, 100 - percentage],
	      backgroundColor: [
	        backgroundColor, //赤色
	        backgroundColor2,//青色
	        
	      ],
	      borderWidth: 0
	    }]
	  }
	})
</script>

			</div>
<!--<p th:text="${}"></p>-->



		
		<div>
			<p style="margin-top: 100px; font-size: 40px; margin-right: 300px;">ビジネスマナークイズ</p>
<!--			ここに円グラフ--><!--			ここに円グラフ-->
			<div class="chart-wrapper" style="width:400px;height:400px;display: flex;margin-left: 400px;flex-direction: column;flex-wrap: wrap;justify-content: space-around;">
			  <canvas id="myChart2" width="333" height="332" style="display: block; box-sizing: border-box; height: 398.4px; width: 399.6px;"></canvas>
			  <p class="s1">正答率：<span style="background-color: yellow;">nn.nn%</span></p>
			  <!--			  ↑<p th:text=${}></p>-->
			</div>
		</div>	
			
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>
		<script>
		const ctxB = document.getElementById('myChart2')
	
	//この2つの値を設定するだけ!!
	const percentageB = 50 //グラフのパーセンテージ(50%)
	const backgroundColorB = 'rgb(255, 0, 0)' //グラフの色(赤)
	const backgroundColorB2 = 'rgb(0, 0, 255)' //グラフの色(黒)
	
	new Chart(ctxB, {
	  type: 'doughnut',
	  data: {
		  labels: ["仮","仮２"],
	    datasets: [{
	      data: [percentageB, 100 - percentageB],
	      backgroundColor: [
	        backgroundColorB, //赤色
	        backgroundColorB2,//青色
	        
	      ],
	      borderWidth: 0
	    }]
	  }
	})
</script>


		
	</section>	
	
	
<!--	消さない-->

		<!--　フッター -->
<!--		<footer class="infofooter">-->
<!--			<p>&copy; 2024 OmuLaisu</p>-->
<!--			<p><a href="mailto:info@yourwebsite.com">お問い合わせ</a></p>-->
<!--		</footer>-->


<!--	<script th:src="@{/js/info.js}"></script>-->
</body>
</html>