<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>マイページ</title>
<!--<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.css}" /> -->
<link rel="stylesheet" th:href="@{/css/style.css}" /> 
<!--会員情報表示機能-->



</head>
<body>
	<header>
	<h1 class="header02-logo" >AI Community
	</h1>
		<!--ナビ①-->
	<nav class="nav">
	 <ul class="menu">
	<li><a href="#">Top</a></li>
	<li><a href="#">Q&A</a></li>
	<li><a href="#">クイズ</a></li>
	<li><a href="#">チャット</a></li>
<!--	右寄せ-->
	<li style="margin-left: 950px;"><a th:href="@{/sidebar}">=</a></li>
	 </ul>
	 
	</nav>
	</header>
	

	
	<section>
		<span class="userinfo">
		<h2>UserName</h2>
		<p>Mail-Address</p><a th:href="@{/update/input}">変更する</a>
		<p>password</p><a th:href="@{/update/input}">変更する</a>
		</span>
		
		<div>
			<p>漢字クイズ正答率</p>
			<!--			ここに円グラフ-->

		
		<div>
			<p>ビジネスマナークイズ</p>
<!--			ここに円グラフ-->
		</div>
	</section>	
	
<!--	消さない-->
<!--	<section>-->
<!--		<h2 th:text=${Entity.name}></h2>-->
<!--		<p th:text=${Entity.mail}></p>-->
<!--		<p th:text=${Entity.password}></p>-->
<!--	</section>	-->
	
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>
   <script>
	const ctx = document.getElementById('myChart')

	//この2つの値を設定するだけ!!
	const percentage = 76 //グラフのパーセンテージ(76%)
	const backgroundColor = 'rgba(255, 0, 0, 1)' //グラフの色(赤)
	
	new Chart(ctx, {
	  type: 'doughnut',
	  data: {
	    datasets: [{
	      data: [percentage, 100 - percentage],
	      backgroundColor: [
	        backgroundColor, //赤色
	        'rgba(0, 0, 0, 0)',
	      ],
	      borderWidth: 0
	    }]
	  }
	})
	</script>
<style>
.chart-wrapper {
 width: 95vh;
 margin: auto;
} 
</style>	
	
<div class="chart-wrapper">
  <canvas id="myChart"></canvas>
</div>
				<!--フッター -->
	<footer>
	    <p>&copy; AI Community</p>
	    <p><a href="mailto:info@yourwebsite.com" style="color: #fff;">お問い合わせ</a></p>
	</footer>


<!--	<script th:src="@{/js/info.js}"></script>-->
</body>
</html>