<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout::layout(~{::body/content()})}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>AICommunity</title>
</head>
<body>
	
	<p class="ChatUserChoice">チャットする
		<span th:if="${loginAuthority} == 2">
			メンター
		</span>
		<span th:if="${loginAuthority} == 3">
			ユーザー
		</span>
		を選んでください</p>
	
	<form th:action="@{/chat/view}" class="ChatUserChoiceForm">
		<div th:each="user:${users}">
			<button type="submit" name="usersId" th:value="${user.usersId}" class="ChatUserChoiceBottun">
				<span th:if="${loginAuthority} == 2">メンターの</span>
				<span th:if="${loginAuthority} == 3">ユーザーの</span>
				<span th:text="${user.name}"></span>
				さん
			</button>
		</div>
		
	</form>
	


	<script type="text/javascript" th:src="@{/js/chat.js}" charset="UTF-8"></script>

</body>
</html>